.heading {
  border-bottom: 1px solid black;

  height: 50px;
  width: 100%;
  background-color: #ffffff;
  position: relative;
}

.logo {
  margin-left: 30px;
  width: 10%;
  display: inline-block;
}

//
.heading .top-nav {
  display: inline;
  float: right;
}
.heading .top-nav ul li a {
  color: #000000;
  line-height: 40px;
  font-size: 18px;
  display: block;
  padding: 0 8px;
  text-decoration: none;
}
.heading .top-nav ul {
  list-style: none;
  //   position: relative;
  //   padding: 0 86px;
  margin-top: 5px;
}
.heading .top-nav ul li {
  display: inline-block;
  background-color: #ffffff;
}
.heading .top-nav ul li:hover {
  color: #008659;
}

.btn {
  margin-top: 10px;
  background: #efefef;
  border-radius: 19px;
  border: none;
  padding: 0.5em 2em;
  margin: 0 10px;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    transform: scale(1.1);
    background-color: #008659;
  }
}

.section1 {
  display: flex;
  position: relative;
}

.right {
  position: absolute;
  margin-top: 4em;
  background-image: url(/assets/bg1.png);
  display: flex;
  background-repeat: no-repeat;
  width: 100%;
  height: 513px;
  margin-left: 47em;
}
.phone {
  margin-left: 25em;
  background-image: url(/src/assets/main1.png);
}

.left {
  position: absolute;
  top: 90px;
  left: 20px;
}

.h-main {
  color: #076f74;
  font-size: 50px;
  margin: 0;
}
.txt {
  color: #202427;
  margin-left: 10px;
}
