<app-header></app-header>
<section class="" id="about">
    <div class="container">
      <div class="row">
          <h1 style="width: 100%">Return Refund Policy</h1>
              <br>
              <h4><b><span>REFUND POLICY</span></b></h4>
              
              <p><span
              >All our clients
              are very important to us, that's why SSSPAY (&quot;Company&quot;), has created
              the following Refund Policy to let You know how we handle the refunds for the
              goods ordered and bought on our website http://SSSPAY.in (&quot;Website&quot;).</span></p>
              
              <p ><span
              >The terms
              &quot;You,&quot; &quot;Your,&quot; and &quot;Yours&quot; refer to the entity/
              person/ organization using our Website. When this Policy mentions
              &quot;we&quot;, &quot;us,&quot;, and &quot;our&quot; it refers to the Company
              and its subsidiaries or /and affiliates. The term &quot;goods&quot; refer to
              any product or item bought on our Website by You.</span></p>
              
              <p ><span
              >This Refund Policy
              is governed by our&nbsp;</span><a
              href="https://mahagram.in/return-refund-policy/mahagram.in/terms-of-services/"
              target="_blank"><b><span 
              >Terms of Services</span></b></a><span
              >.</span></p>
              
              <p  ><span
              >For any questions
              regarding this Refund Policy or any requests regarding the refunds and returns,
              please contact us by email support@SSSPAY.CO.IN, phone 8604863246 or other
              contacts provided below.</span></p>
              
              <p ><span
              >This Return policy
              does not limit Your statutory rights to withdraw or rights You may have in
              relation to incorrect, damaged or defective goods.</span></p>
              
              <p  ><b><span>STANDARD RETURNS</span></b></p>
              
              <p  ><span
              >Please contact our
              Support to begin the return and refund process, Support team will walk you
              through the process and help you.</span></p>
              
              <p  style='margin-bottom:0in;line-height:normal'><span
              >Please fill in the
              Return form received with your order and send the goods back to the address
              provided herein.</span></p>
              
              <p  style='margin-bottom:0in;line-height:normal'><span
              >Please return the
              goods to us by sending to the address: SSSPAY SERVICE PRIVATE LIMITED, PURAJAGARNATH
              SIRSA PRAYAGRAJ 212305</span></p>
              
              <p  style='margin-bottom:0in;line-height:normal'><span
              >In case of the
              return of the goods, you will be responsible for paying the return shipping
              costs.</span></p>
              
              <p  style='margin-bottom:0in;line-height:normal'><span
              >You must exercise
              return right responsibly and return the product in the original neat packaging,
              as well as return all complete parts of the product. You are responsible for
              the complete set of the returned goods. If the goods are not complete, we won't
              be able to accept the returned goods and issue a refund.</span></p>
              
              <p  style='margin-bottom:0in;line-height:normal'><span
              >Once the Goods and
              the Return form have been received and checked by our staff, a refund will be authorized
              by the same method that the payment was made. Depending on your financial
              institution, refunds can take up to 30 days to be credited to your original
              payment method. In all cases we have the right to suspend the refund until the
              good are received back and inspected.</span></p>
              
              <p  style='margin-bottom:0in;line-height:normal'><span
              >If You fail to
              meet the deadlines of our Return policy, we will be unable to offer a refund.</span></p>
              
              <p ><b><span
              >DEFECTIVE GOODS</span></b></p>
              
              <p  style='margin-bottom:0in;line-height:normal'><span
              >In certain cases,
              such as defective, damaged or wrong goods, you may be required to provide
              evidence of the issue, such as a photo or video, or to return the item to
              receive a refund.</span></p>
              
              <p  style='margin-bottom:0in;line-height:normal'><span
              >You must contact
              our company at mail.SETHATHRAV@GMAIL.COM within 14 days upon purchase and
              provide detailed information, such as:</span></p>
              
              <ul type=square>
               <li  ><span 
                   >Proof of purchase</span></li>
               <li  ><span 
                   >Order number</span></li>
               <li  ><span 
                   >Product name</span></li>
               <li  ><span 
                   >Information about the defect, failure
                   or missing part of the item</span></li>
               <li  ><span 
                   >Partner ID, Invoice Number</span></li>
              </ul>
              
              <p  style='margin-bottom:0in;line-height:normal'><span
              >When submitting a
              complaint, you must indicate how You wish the claim to be resolved:</span></p>
              
              <ul type=square>
               <li  ><span 
                   >To replace the defective goods with
                   quality items</span></li>
               <li  ><span 
                   >To receive store credit</span></li>
              </ul>
              
              <p  style='margin-bottom:0in;line-height:normal'><span
              >In case You are
              required to return the goods back to us, You will be responsible for paying the
              return shipping costs.</span></p>
              
              <p  style='margin-bottom:0in;line-height:normal'><span
              >The goods must be
              returned in the original packaging (with instructions and/or warranty card, if
              they were delivered with the product).</span></p>
              
      </div>
    </div>
  </section>
<app-footer></app-footer>
