<div class="footer">
  <div class="flex">
    <p>Pages</p>
    <div class="icons">
      <i class="ri-google-fill"></i>
      <i class="ri-facebook-fill"></i>
      <i class="ri-twitter-fill"></i>
    </div>
  </div>
  <div class="li">
    <p><a href="#" style="color: white; text-decoration: none">Home</a></p>
    <p>
      <a href="#aboutUs" style="color: white; text-decoration: none"
        >About us</a
      >
    </p>
    <p >
      <a href="privacy-policy" style="color: white; text-decoration: none"
        >Privacy policy</a
      >
    </p>
    <p >
      <a href="return-refund-policy" style="color: white; text-decoration: none"
        >Return and refund</a
      >
    </p>
    <p >
      <a href="terms-and-condition" style="color: white; text-decoration: none"
        >Terms and conditions</a
      >
    </p>

  </div>
  <hr />
  <p style="font-size: 0.8rem; margin: 0.3rem">
    © 2019 Page protected by reCAPTCHA and subject to Google's Privacy Policy
    and Terms of Service
  </p>
</div>
